.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  justify-items: center;
  height: 100%;
  font-family: var(--font-geist-sans);
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page .gridPage {
  width: 100%;
  height: 100%;
}
.page .gridPage .gridContainer {
  max-width: 940px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.page .gridPage .gridContainer .field {
  height: 80px;
  margin: 10px 1em;
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
}
.page .gridPage .gridContainer .field button {
  min-width: 100px;
  min-height: 100px;
  max-width: 200px;
  width: 100%;
}
.page .gridPage .overlay {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030f17c7;
}
.page .gridPage .overlay .messageBox {
  background: #030f17;
  border: 1px solid #0369a1;
  border-radius: 1rem;
  padding: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}
